{% extends "polls/landing/base.html" %}

{% block title %}
Описание
{% endblock %}

{% block content %}

<main>
    <div class="container marketing">
        <div class="row feature">
            <div class="col-md-7">
                <h2 class="feature-heading fw-normal lh-1">Создавайте счета.
                    <span class="text-body-secondary">Это легко!</span></h2>
                <p class="lead">
                    Создать счёт можно с любого устройства по нажатию одной кнопки.
                    Счетов можно создать сколько угодно, для удобства они будут отображаться на странице профиля.
                    Также легко эти счета можно удалять за ненадобностью.
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg feature-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="feature-divider">

        <div class="row feature">
            <div class="col-md-7 order-md-2">
                <h2 class="feature-heading fw-normal lh-1">Добавляйте денежные операции.</h2>
                <h2 class="feature-heading fw-normal lh-1"><span class="text-body-secondary">Убедитесь сами.</span></h2>
                <p class="lead">
                    Ведите учёт своих транзакций.
                    Записывайте их в приложении после каждой совершенной операции или тогда, когда Вам будет удобно.
                    Отслеживайте куда и в каком количестве уходят ваши деньги.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg feature-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="feature-divider">

        <div class="row feature">
            <div class="col-md-7">
                <h2 class="feature-heading fw-normal lh-1">Ведите учёт финансов.
                    <span class="text-body-secondary">Это удобно!</span></h2>
                <p class="lead">
                    Планируйте свой бюджет более грамотно, основываясь на данных из приложения.
                    Копить и экономить средства ещё не было так просто. Регистрируйтесь быстрее, это бесплатно!
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg feature-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>
    </div>
</main>

{% endblock %}
