<style>
    .blue {
        color: blue
    }
</style>

<header class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <span class="blue h2">PFManager</span>
        <div class="col-md-3 mb-2 mb-md-0"></div>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">
                <a class="nav-link active" href="/profile">Профиль</a>
            </button>

<!--            <button type="button" class="btn btn-primary"><a class="nav-link" onclick="location.href='{% url 'password_change' %}'">Смена пароля</a></button>-->

            <button type="button" class="btn btn-primary">
                <a class="nav-link" onclick="location.href='{% url 'logout' %}?next=/profile'">Выход</a>
            </button>
        </div>
    </div>
</header>
