<style>
    .blue {
        color: blue
    }
</style>

<header class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="blue h2">PFManager</span>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item h6"><a class="nav-link" href="/about">О приложении</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">
                <a class="nav-link active" href="/accounts/login">Вход</a>
            </button>
            <button type="button" class="btn btn-primary"><a class="nav-link" href="/register">Регистрация</a></button>
        </div>
    </div>
</header>
