{% extends "polls/landing/base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body class="text-center">
    <div class="content">
        <main class="px-3">
            <h1>Веб-приложение для учёта личных финансов</h1>
            <p class="lead">
                Рассчитать личный или семейный бюджет теперь намного проще.
                Отслеживайте все свои транзакции в одном приложении. Присоединяйтесь, это бесплатно!
            </p>
            <p class="lead">
                <a href="/about" class="btn btn-lg btn-light fw-bold border-white bg-white">Узнать больше</a>
            </p>
        </main>
    </div>
</body>

{% endblock %}
