{% extends "polls/landing/base.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}

<style>
    .center {
        text-align: center;
    }
</style>

<div class="row my-5 py-5">
    <div class="col-2"></div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center card-title mb-5">Регистрация</h5>
                <form class="mx-5" method="post">
                    {% csrf_token %}

                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control"
                               id="username" placeholder="Username" autocomplete="off" required>
                        <label for="username">Имя пользователя</label>
                        <div class="invalid-feedback">Ошибка имени пользователя</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control"
                               id="exampleInputEmail1" placeholder="examle@example.com" autocomplete="off" required>
                        <label for="exampleInputEmail1">Адрес электронной почты</label>
                        <div class="invalid-feedback">Ошибка электронной почты</div>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="password" name="password1" class="form-control"
                               id="exampleInputPassword1" placeholder="Password" autocomplete="off" required>
                        <label for="exampleInputPassword1">Пароль</label>
                        <div class="invalid-feedback">Введите другой пароль</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="password2" class="form-control"
                               id="exampleInputPassword2" placeholder="Password" autocomplete="off" required>
                        <label for="exampleInputPassword2">Повторите пароль</label>
                        <div class="invalid-feedback">Пароли не совпадают</div>
                    </div>
                    {{ form.errors }}
                    <div class="center">
                        <button type="submit" class="btn btn-primary">Завершить регистрацию</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

{% endblock %}