{% extends "polls/landing/base.html" %}

{% block title %}
Профиль
{% endblock %}

{% block content %}

<body>
    <div class="container mt-5 d-flex justify-content-center">

                <div class="card p-3">

                    <div class="d-flex align-items-center">

                        <div class="image">
                    <img src="https://iznanka.news/upload/resize_cache/iblock/8bc/799_594_1/y8w6376pt65jy0pl39pjc5xqb3df94iv.jpg.webp" class="rounded" width="155" >
                    </div>

                    <div class="ml-3 w-100">

                       <h4 class="mb-0 mt-0">{{ user.username }}</h4>
                       <span>ЧТО ТО БУДЕТ ТУТ</span>

                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                        <div class="d-flex flex-column">

                            <span class="articles">КОЛИЧЕСТВО ЧЕГО ТО</span>
                            <span class="number1">ССЫЛОЧКА НА ЦИФРУ</span>

                        </div>

                        <div class="d-flex flex-column">

                            <span class="followers">КОЛИЧЕСТВО ЧЕГО ТО</span>
                            <span class="number2">ССЫЛОЧКА НА ЦИФРУ</span>

                        </div>


                        <div class="d-flex flex-column">

                            <span class="rating">КОЛИЧЕСТВО ЧЕГО ТО</span>
                            <span class="number3">ССЫЛОЧКА НА ЦИФРУ</span>

                        </div>

                       </div>


                       <div class="button mt-2 d-flex flex-row align-items-center">

                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'password_change' %}'">Change password</button>
                        <button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/profile'">Logout</button>


                       </div>



                        {% include "polls/profile/create_account.html" %}


                    </div>

                    </div>

                </div>

             </div>
    <div>
        <table class="table">
        <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Баланс</th>
      <th scope="col">Удалить</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Операции</th>
    </tr>
        </thead>
            <tbody>

                    {% for each in user_accounts %}
                    {% if each.nameofuser_id == user.id%}
                    <tr>
                        <td>
                             <a href="{% url 'history_accounts' account_id=each.account_id %}">
                             {{each.account_name}}</a></td>
                          <td class="badge bg-primary rounded-pill centre">{{each.account_current_balance}}</td>
                             <td>
                                 <form action="{% url 'delete_account' account_id=each.account_id %}" method="post">
                              {% csrf_token %}
                              <input type="submit" value="Удалить">
                                </form>
                             </td>
                            <td>{% include "polls/profile/edit_account.html" %}</td>
                            <td>{% include "polls/profile/create_transaction.html" %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
             </tbody>
</table>
    </div>


</body>

{% endblock %}


{% include "polls/landing/footer.html" %}